<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %} Voltex - {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/main.css')}}"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <!-- Header-->
        <header>
          {% block header %}

          <section class="hero is-info">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Informe de hoteles rurales en Mallorca
                </h1>
                <h2 class="subtitle">
                  Fecha: 30/03/2020
                </h2>
              </div>
            </div>
          </section>
          
          {% endblock %}
        </header>
        <!-- MAIN BLOCK -->
        <main>
          {% block main %}{% endblock %}
        </main>
        <!-- Footer Block -->
        <footer class="footer has-text-centered">
          {% block footer %} Voltex WebScrapping Examen Final {% endblock %}
        </footer>
      </div>
    </section>
  </body>
</html>
